#Lambda

In [2]:
my_function = lambda arg : arg * 10
print(my_function(5))

50

In [4]:
my_function = lambda arg : print(arg)
my_function(5)

5

In [ ]:
my_function = lambda arg1, arg2, arg3 : print(f"arg1: {arg1}, arg2: {arg2}, arg3: {arg3}")
my_function(5, 6, 7)

In [ ]:
# lambda functions using args
my_function = lambda *args : print(f"arg1: {args[0]}, arg2: {args[1]}, arg3: {args[2]}")
my_function(5, 6, 7)

In [5]:
# lambda functions using kwargs
my_function = lambda **kwargs : print(f"arg1: {kwargs['arg1']}, arg2: {kwargs['arg2']}, arg3: {kwargs['arg3']}")
my_function(arg1 = 5, arg2 = 6, arg3 = 7)

arg1: 5, arg2: 6, arg3: 7

In [6]:
# Lambda function with list comprehension
even_list = [lambda arg1 = arg2: arg1 * 10 for arg2 in range(1, 5)]

for item in even_list:
    print(item())

10
20
30
40

In [7]:
# Lambda function using if-else
Max = lambda a, b : a if(a > b) else b
print(Max(5, 7))

7

In [8]:
# Lambda function with multiple statements
List = [[2,3,4],[1, 4, 16, 64],[3, 6, 9, 12]]
 
# Sort each sublist
sortList = lambda x: (sorted(i) for i in x)
 
# Get the second largest element
secondLargest = lambda x, f : [y[len(y)-2] for y in f(x)]
res = secondLargest(List, sortList)
 
print(res)

[3, 16, 9]

#List

In [11]:
programming_language = ["Python", "Java", "C#", "C++", "Ruby"]
print(programming_language)

['Python', 'Java', 'C#', 'C++', 'Ruby']

In [12]:
# List with duplicate items
programming_language = ["Python", "Java", "C#", "Python", "Java", "C#"]
print(programming_language)

['Python', 'Java', 'C#', 'Python', 'Java', 'C#']

In [13]:
# List length
programming_language = ["Python", "Java", "C#", "Python", "Java", "C#"]
print(len(programming_language))

6

In [ ]:
# A list can contain different data types
a = [4, True, "hello", 4.0]
print(a)

In [14]:
# Using list() constructor to make a list
language_list = list(("Python", "C#", "Java")) # note the double round-brackets
print(language_list)

['Python', 'C#', 'Java']

In [17]:
# Access items of lists
programming_language = ["Python", "Java", "C#", "C++", "Ruby"]
print(programming_language[-3])

C#

In [16]:
# Get items in a range of indexes of a list
programming_language = ["Python", "Java", "C#", "C++", "Ruby"]
print(programming_language[1:4])

['Java', 'C#', 'C++']

In [15]:
programming_language = ["Python", "Java", "C#", "C++", "Ruby"]
print(programming_language[:4])

['Python', 'Java', 'C#', 'C++']

In [ ]:
programming_language = ["Python", "Java", "C#", "C++", "Ruby"]
print(programming_language[2:])

In [ ]:
programming_language = ["Python", "Java", "C#", "C++", "Ruby"]
print(programming_language[-4:-1])

In [ ]:
programming_language = ["Python", "Java", "C#", "C++", "Ruby"]
print(programming_language[-1:-4])

In [ ]:
# Check if item is in the list
programming_language = ["Python", "Java", "C#", "C++", "Ruby"]
if "Python" in programming_language:
    print("Python is in the list")

In [ ]:
# Change item value of a list
programming_language = ["Python", "Java", "C#", "C++", "Ruby"]
programming_language[2] = "PHP"
print(programming_language)

In [18]:
# Change a range of item values of a list
programming_language = ["Python", "Java", "C#", "C++", "Ruby"]
programming_language[1:3] = ["PHP", "JavaScript"]
print(programming_language)

['Python', 'PHP', 'JavaScript', 'C++', 'Ruby']

In [19]:
programming_language = ["Python", "Java", "C#", "C++", "Ruby"]
programming_language[1:3] = ["PHP", "JavaScript", "Go"]
print(programming_language)

['Python', 'PHP', 'JavaScript', 'Go', 'C++', 'Ruby']

In [20]:
programming_language = ["Python", "Java", "C#", "C++", "Ruby"]
programming_language[2:5] = ["PHP"]
print(programming_language)

['Python', 'Java', 'PHP']

In [21]:
programming_language = ["Python", "Java", "C#", "C++", "Ruby"]
programming_language[1:3] = "PHP"
print(programming_language)

['Python', 'P', 'H', 'P', 'C++', 'Ruby']

In [22]:
programming_language = ["Python", "Java", "C#", "C++", "Ruby"]
programming_language[1:3] = ["PHP"]
print(programming_language)

['Python', 'PHP', 'C++', 'Ruby']

In [23]:
# Insert items
programming_language = ["Python", "Java", "C#", "C++", "Ruby"]
programming_language.insert(2, "Go")
print(programming_language)

['Python', 'Java', 'Go', 'C#', 'C++', 'Ruby']

In [24]:
# Append new item
programming_language = ["Python", "Java", "C#", "C++", "Ruby"]
programming_language.append("Go")
print(programming_language)

['Python', 'Java', 'C#', 'C++', 'Ruby', 'Go']

In [26]:
# Append elements from another list to the current list
subject = ['Mathematics', 'Physics', 'Physical Training']
weather = ['Sunshine', 'Cloudy', 'Raining', 'Snowing']
subject.extend(weather)
print(subject)

['Mathematics', 'Physics', 'Physical Training', 'Sunshine', 'Cloudy', 'Raining', 'Snowing']

In [27]:
# Add any iterable object (tuples, sets, dictionaries, etc.)
subject = ['Mathematics', 'Physics', 'Physical Training']
weather = ('Sunshine', 'Cloudy', 'Raining', 'Snowing')
subject.extend(weather)
print(subject)

['Mathematics', 'Physics', 'Physical Training', 'Sunshine', 'Cloudy', 'Raining', 'Snowing']

In [28]:
# Remove specified item of a list
programming_language = ["Python", "Java", "C#", "C++", "Ruby"]
programming_language.remove("Python")
print(programming_language)

['Java', 'C#', 'C++', 'Ruby']

In [29]:
programming_language = ["Python", "Java", "Python", "C#", "C++", "Ruby"]
programming_language.remove("Python")
print(programming_language)

['Java', 'Python', 'C#', 'C++', 'Ruby']

In [30]:
# Remove specified index of a list
programming_language = ["Python", "Java", "C#", "C++", "Ruby"]
programming_language.pop(1)
print(programming_language)

['Python', 'C#', 'C++', 'Ruby']

In [31]:
programming_language = ["Python", "Java", "C#", "C++", "Ruby"]
programming_language.pop()
print(programming_language)

['Python', 'Java', 'C#', 'C++']

In [32]:
# using del keyword
programming_language = ["Python", "Java", "C#", "C++", "Ruby"]
del programming_language[1]
print(programming_language)

['Python', 'C#', 'C++', 'Ruby']

In [33]:
programming_language = ["Python", "Java", "C#", "C++", "Ruby"]
del programming_language
print(programming_language)

NameError: name 'programming_language' is not defined

In [35]:
# Clear the list
programming_language = ["Python", "Java", "C#", "C++", "Ruby"]
programming_language.clear()
print(programming_language)

[]

In [36]:
# For loop through a list
programming_language = ["Python", "Java", "C#", "C++", "Ruby"]
for item in programming_language:
    print(item)

Python
Java
C#
C++
Ruby

In [37]:
# Loop through the Index Numbers
programming_language = ["Python", "Java", "C#", "C++", "Ruby"]
for index in range(len(programming_language)):
    print(programming_language[index])

Python
Java
C#
C++
Ruby

In [39]:
# Loop through the a list using While loop
programming_language = ["Python", "Java", "C#", "C++", "Ruby"]
idx = 0
while idx < len(programming_language):
    print(programming_language[idx])
    idx += 1

Python
Java
C#
C++
Ruby

In [40]:
# Short hand for loop (List comprehension)
programming_language = ["Python", "Java", "C#", "C++", "Ruby"]
[print(item) for item in programming_language]

Python
Java
C#
C++
Ruby

[None, None, None, None, None]

In [41]:
# List comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [42]:
newlist = [x.upper() for x in fruits]

In [47]:
newlist = [x if x != "banana" else "orange" for x in fruits]

In [44]:
# Sort list with sort() function
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [48]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [49]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [50]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [51]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [52]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [53]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [56]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [ ]:
# Copy list using copy() function
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

In [ ]:
# join 2 lists using + operator
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
list3 = list1 + list2
print(list3)

In [ ]:
# join 2 list by appending all items from a list to another list
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
for x in list2:
  list1.append(x)

print(list1)

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
list1.extend(list2)
print(list1)

In [ ]:
# Count number of a specified value in a list
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]
x = points.count(9)
print(x)

#Sets

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

In [ ]:
# Duplicate item in set
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

In [ ]:
# len() function
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

In [2]:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 'abc', 'male', 40}

In [ ]:
# Initialize a set using set() constructor
thisset = set(("apple", "banana", "cherry"))

In [3]:
# Access items in a set using for loop
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

apple
banana
cherry

In [ ]:
# Check if item is in a set
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

In [ ]:
# Add new item to a set
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

In [4]:
# Add items from another set into the current set
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'banana', 'papaya', 'cherry', 'apple', 'pineapple', 'mango'}

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

In [ ]:
# Remove an item in a set using remove() function
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

In [5]:
# Remove an item in set using discard() function
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'apple', 'cherry'}

In [6]:
# Remove a randome item using pop() function
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

apple
{'banana', 'cherry'}

In [7]:
# Clear sets using set() function
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

In [8]:
# Delete the set completely using del keyword
thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)

Output: NameError: name 'thisset' is not defined

SyntaxError: invalid syntax (1464563197.py, line 6)

In [9]:
# Join 2 sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'a', 'b'}

In [10]:
# Keep duplicates
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [11]:
# Return items that are present in both sets
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

{'apple'}

In [12]:
# Keep items not present in both sets
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

{'banana', 'cherry', 'microsoft', 'google'}

In [13]:
# Return items not present in both sets
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

{'banana', 'cherry', 'google', 'microsoft'}

In [14]:
# Set copy() method
fruits = {"apple", "banana", "cherry"}
x = fruits.copy()
print(x)

{'apple', 'banana', 'cherry'}

In [15]:
# different() method
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.difference(y)
print(z)

{'banana', 'cherry'}

In [16]:
# different_update() method
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.difference_update(y)
print(x)

{'banana', 'cherry'}

In [17]:
# isdisjoint() method
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}
z = x.isdisjoint(y)
print(z)

True

In [18]:
# issubset() method
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
z = x.issubset(y)
print(z)

True

In [19]:
# issuperset() method
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
z = x.issuperset(y)
print(z)

True

#Tuples

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

In [ ]:
# using len() to count how many items in a tuples
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

In [ ]:
# Create tuple with only one item
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

In [ ]:
# A tuple can contain different data types
tuple1 = ("abc", 34, True, 40, "male")

In [ ]:
# Create a tuple using tuple() constructor
thistuple = tuple(("apple", "banana", "cherry"))

In [ ]:
# Access tuple items by referring to the index number
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

In [ ]:
# Access tuple items by referring to the negative index number
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

In [ ]:
# Extract child tuple from parent using range of indexes
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

In [ ]:
# Extract child tuple from parent using range of negative indexes
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

In [ ]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

In [ ]:
# Add item to a tuple by converting the tuple into a list
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

In [ ]:
# Add new items to tuple by add tuples to tuples
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y
print(thistuple)

In [ ]:
# Remove item of tuple
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

In [ ]:
# Delete tuple using del keyword
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)

In [ ]:
# Unpacking tuple
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
(green, *tropic, red) = fruits
print(green)
print(tropic)
print(red)

In [ ]:
# Looping through a tuple
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

In [ ]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

In [ ]:
# Looping through a tuple using while loop
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

In [26]:
# Join 2 tuples using + operator
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2
print(mytuple)

In [ ]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.count(5)
print(x)

In [29]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.index(8)
print(x)

3