# CLASSES/OBJECTS

## 1. Create Classes

In [1]:
class MyClass:
  x = 5

print(MyClass)

<class '__main__.MyClass'>

## 2. Create Objects

In [ ]:
class MyClass:
	x = 5

p1 = MyClass()
print(p1.x)

## 3. The ``__init__()`` Function

In [ ]:
class Person:
	def __init__(self, name, age):
		self.name = name
		self.age = age

p1 = Person('John', 36)

print(p1.name)
print(p1.age)

## 4. The ``__str__()`` Function

In [2]:
# WITHOUT __str__() function:
class Person:
	def __init__(self, name, age):
		self.name = name
		self.age = age

p1 = Person('John', 36)

print(p1)

<__main__.Person object at 0x1038c96d0>

In [ ]:
# WITH __str__() function:
class Person:
	def __init__(self, name, age):
		self.name = name
		self.age = age

	def __str__(self):
		return f'{self.name}({self.age})'

p1 = Person('John', 36)

print(p1)

## 5. Object Methods

In [ ]:
class Person:
	def __init__(self, name, age):
		self.name = name
		self.age = age

	def myfunc(self):
		print('Hello my name is ' + self.name)

p1 = Person('John', 36)
p1.myfunc()

## 6. The ``self`` Parameter

In [ ]:
# Using 'mysillyobject' and 'abc' instead of 'self':
class Person:
	def __init__(mysillyobject, name, age):
		mysillyobject.name = name
		mysillyobject.age = age

	def myfunc(abc):
		print('Hello my name is ' + abc.name)

p1 = Person('John', 36)
p1.myfunc()

## 7. Modify Object Properties

In [ ]:
class Person:
	def __init__(self, name, age):
		self.name = name
		self.age = age

	def myfunc(self):
		print('Hello my name is ' + self.name)

p1 = Person('John', 36)

p1.age = 40

print(p1.age)

## 8. Delete Object Properties

In [2]:
class Person:
	def __init__(self, name, age):
		self.name = name
		self.age = age

	def myfunc(self):
		print('Hello my name is ' + self.name)


p1 = Person('John', 36)

del p1.age

print(p1.age)

AttributeError: 'Person' object has no attribute 'age'

## 9. Delete Objects

In [ ]:
class Person:
	def __init__(self, name, age):
		self.name = name
		self.age = age

	def myfunc(self):
		print('Hello my name is ' + self.name)

p1 = Person('John', 36)

del p1

print(p1)

## 10. The ``pass`` Statement

In [ ]:
class Person:
	pass

# INHERITANCE

## 1. Create a Parent Class

In [ ]:
class Person:
	def __init__(self, fname, lname):
		self.firstname = fname
		self.lastname = lname

	def printname(self):
		print(self.firstname, self.lastname)

x = Person('John', 'Doe')
x.printname()

## 2. Create a Child Class

In [ ]:
class Student(Person):
	pass

In [ ]:
class Person:
	def __init__(self, fname, lname):
		self.firstname = fname
		self.lastname = lname

	def printname(self):
		print(self.firstname, self.lastname)

class Student(Person):
	pass

x = Student('Mike', 'Olsen')
x.printname()

## 3. Add ``__init__()`` Function to Child Class

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):
    # Add properties etc.
    pass

In [ ]:
class Person:
	def __init__(self, fname, lname):
		self.firstname = fname
		self.lastname = lname

	def printname(self):
		print(self.firstname, self.lastname)

class Student(Person):
	def __init__(self, fname, lname):
		Person.__init__(self, fname, lname)

x = Student('Mike', 'Olsen')
x.printname()

## 4. Use the ``super()`` Function

In [ ]:
class Person:
	def __init__(self, fname, lname):
		self.firstname = fname
		self.lastname = lname

	def printname(self):
		print(self.firstname, self.lastname)

class Student(Person):
	def __init__(self, fname, lname):
		super().__init__(fname, lname)

x = Student('Mike', 'Olsen')
x.printname()

## 5. Add Properties to Child Class

In [ ]:
# Add a property called 'graduationyear' to the Student class:
class Person:
	def __init__(self, fname, lname):
		self.firstname = fname
		self.lastname = lname

	def printname(self):
		print(self.firstname, self.lastname)

class Student(Person):
	def __init__(self, fname, lname):
		super().__init__(fname, lname)
		self.graduationyear = 2019

x = Student('Mike', 'Olsen')
print(x.graduationyear)

In [ ]:
# The year 2019 should be a variable, and passed into the Student class when creating Student objects
# => Add it as another parameter in __init__() function
class Person:
	def __init__(self, fname, lname):
		self.firstname = fname
		self.lastname = lname

	def printname(self):
		print(self.firstname, self.lastname)

class Student(Person):
	def __init__(self, fname, lname, year):
		super().__init__(fname, lname)
		self.graduationyear = year

x = Student('Mike', 'Olsen', 2019)
print(x.graduationyear)

## 6. Add Methods to Child Class

In [ ]:
class Person:
	def __init__(self, fname, lname):
		self.firstname = fname
		self.lastname = lname

	def printname(self):
		print(self.firstname, self.lastname)

class Student(Person):
	def __init__(self, fname, lname, year):
		super().__init__(fname, lname)
		self.graduationyear = year

	def welcome(self):
		print(f'Welcome {self.firstname} {self.lastname} to the class of {self.graduationyear}')

x = Student('Mike', 'Olsen', 2019)
x.welcome()

# POLYMORPHISM

## 1. Function Polymorphism

In [3]:
# STRING
myStr = 'Hello World!'

print(len(myStr))

12

In [ ]:
# TUPLE
myTuple = ('apple', 'banana', 'cherry')

print(len(myTuple))

In [ ]:
# DICTIONARY
myDict = {
	'brand': 'Ford',
	'model': 'Mustang',
	'year': 1964
}

print(len(myDict))

## 2. Class Polymorphism

In [ ]:
class Car:
	def __init__(self, brand, model):
		self.brand = brand
		self.model = model

	def move(self):
		print('Drive!')

class Boat:
	def __init__(self, brand, model):
		self.brand = brand
		self.model = model

	def move(self):
		print('Sail!')

class Plane:
	def __init__(self, brand, model):
		self.brand = brand
		self.model = model

	def move(self):
		print('Fly!')

car1 = Car('Ford', 'Mustang')       # Create a Car class
boat1 = Boat('Ibiza', 'Touring 20') # Create a Boat class
plane1 = Plane('Boeing', '747')     # Create a Plane class

for vehicle in (car1, boat1, plane1):
	vehicle.move()

## 3. Inheritance Class Polymorphism

In [ ]:
class Vehicle:
	def __init__(self, brand, model):
		self.brand = brand
		self.model = model

	def move(self):
		print('Move!')

class Car(Vehicle):
	pass

class Boat(Vehicle):
	def move(self):
		print('Sail!')

class Plane(Vehicle):
	def move(self):
		print('Fly!')

car1 = Car('Ford', 'Mustang')		# Create a Car object
boat1 = Boat('Ibiza', 'Touring 20')	# Create a Boat object
plane1 = Plane('Boeing', '747')		# Create a Plane object

for vehicle in (car1, boat1, plane1):
	print(vehicle.brand)
	print(vehicle.model)
	vehicle.move()

# ENCAPSULATION

## 1. Private Attribute

In [ ]:
class Car:
    def __init__(self, brand):
        self.__brand = brand

    def move(self):
        return f'The {self.__brand} is moving now!'

car = Car('Volkswagen')

print(car.move())
print(car.__brand)

## 2. Protected Attribute

In [ ]:
class Car:
    def __init__(self, brand):
        self._brand = brand

    def move(self):
        return f'The {self._brand} is moving now!'

car = Car('Volkswagen')

print(car._brand)

# ABSTRACTION

In [ ]:
from abc import ABC, abstractmethod

class Car(ABC):
	@abstractmethod
	def car_model(self):
		pass

In [5]:
from abc import ABC, abstractmethod

class Car(ABC):
	@abstractmethod
	def car_model(self):
		pass

car = Car()

TypeError: Can't instantiate abstract class Car with abstract method car_model

In [4]:
from abc import ABC, abstractmethod

class Car(ABC):
	@abstractmethod
	def car_model(self):
		pass

class Tesla(Car):
	def car_model(self):
		print('This is a Tesla model')

class BMW(Car):
	def car_model(self):
		print('This is a BMW model')

class Test(Car):
	def __init__(self, a):
		self.a = a

tesCar = Tesla()
tesCar.car_model()

bmwCar = BMW()
bmwCar.car_model()

This is a Tesla model
This is a BMW model